@model Pizza

<div class="container form-group">
    <div class="row">
        <div class="col-12">
            <h1 class="my-4">Pagina creazione nuova Pizza</h1>
        </div>
        <form asp-controller="Pizza" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Name" class="form-label"><b>Nome:</b> </label>
                <div>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"><b>Descrizione:</b></label>
                <div>
                    <input type="text" class="form-control" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"><b>Prezzo:</b></label>
                <div>
                    <input type="text" class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"><b>Immagine:</b></label>
                <div>
                    <input type="text" class="form-control" asp-for="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-5"><b>Crea nuova pizza</b></button>
        </form>
    </div>
</div>
